/* comentario en sass y css*/
header {
  position: fixed;
  z-index: 1;
  width: 100%; }
  header .bg-body-tertiary {
    background-color: #e9dfd8 !important; }
    header .bg-body-tertiary .navbar-expand-lg .navbar-nav .nav-link {
      padding: 1rem; }
      header .bg-body-tertiary .navbar-expand-lg .navbar-nav .nav-link .nav-link {
        margin: 0rem 2rem; }
        header .bg-body-tertiary .navbar-expand-lg .navbar-nav .nav-link .nav-link .nav-link.active {
          color: #44190c !important; }


          
