/* estilos de nosotros*/ 

.main-p{
    font-size: x-large;
    font-style: oblique;
   
       #form-contact{
        padding-bottom: 8rem;
        display: grid;
        grid-template-areas: 
        "name input-name"
        "email input-email"
        "message input-message"
        ". button";
        grid-template-rows:1fr 1fr 5fr 1fr ;
        grid-template-columns: 150px 250px ;  
        grid-gap: 1.5rem;  

        .label-name{
            grid-area: name;
        }
        .input-name{
            grid-area: input-name;
        }
        .label-email{
            grid-area: email;
        }
        .input-email{
            grid-area: input-email;
        }
        .label-message{
            grid-area: message;
        }
        .input-message{
            grid-area: input-message;
        }*/
    
        .button-message{
            grid-area: button;
        }
    }
}